{% extends 'base.html' %}

{% block pagetitle %}
AI Engine
{% endblock pagetitle %}

{% block body %}

<div class="container py-5">

    <div class="text-center mb-4">
        <h1 style="color:#0f172a;"><b>AI Plant Analyzer 🌱</b></h1>
        <p>Upload a leaf image and get instant AI diagnosis</p>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-6">

            <div class="p-5 bg-white shadow rounded-lg text-center">

                <form action="/submit" method="POST" enctype="multipart/form-data">

                    <input type="file" name="image" required class="form-control mb-3">

                    <button class="btn btn-success w-100">
                        Analyze Now 
                    </button>

                </form>

            </div>

        </div>
    </div>

</div>

{% endblock body %}