{% extends 'base.html' %}

{% block pagetitle %}
Market
{% endblock pagetitle %}

{% block body %}

<div class="container py-5">

    <h1 class="text-center mb-4" style="color:#0f172a;">🌿 Supplements Market</h1>

    <div class="row">

        {% for i in range(0,supplement_name | length) %}
        {% if i != 4 %}

        <div class="col-md-3 mb-4">
            <div class="p-3 bg-white shadow rounded-lg text-center">

                <img src="{{supplement_image[i]}}" width="150" height="200">

                <h6 class="mt-2">{{supplement_name[i]}}</h6>
                <p>{{disease[i]}}</p>

                <a href="{{buy[i]}}" target="_blank">
                    <button class="btn btn-success btn-sm">Buy</button>
                </a>

            </div>
        </div>

        {% endif %}
        {% endfor %}

    </div>

</div>

{% endblock body %}